@model Bookmark
<div style="display: flex; width:100%">

    <div style="flex: 1">
        <textarea class="form-control" id="new-comment-content" onkeydown="onCommentInputKeyDown(event, @Model.Id)"></textarea>
    </div>
    <button class="btn" style="float: right" onclick="newComment(@Model.Id)">
        <i class="bi bi-send-fill" style="font-size: 24px"></i>
    </button>

</div>