@model Bookmark
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager

@{
    string userId = userManager.GetUserId(User);
}
<style>
    .upvote {
        font-size: 2em;
        color:white;
    }
    
</style>
<div>
    @if (userId != null)
    {
        <i id="like" class="bi bi-hand-thumbs-up upvote" onclick="addUpvote('@userId', @Model.Id, 1)"></i>
        <i id="dislike" class="bi bi-hand-thumbs-down upvote" onclick="addUpvote('@userId', @Model.Id, -1)"></i>
    }
</div>