@model project.net.Models.Bookmark

<style>
    .content {
        display: flex;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
<div class="content">
    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("CreateBookmark", Model)
    }
    @foreach (Bookmark bookmark in ViewBag.Bookmarks)
    {
        @await Html.PartialAsync("ListBookmark", bookmark)
    }
</div>