@using project.net.ViewModels
@model project.net.Models.Bookmark

@{
    BookmarksAndCategories bookmarksAndCategories = new()
    {
        Bookmark = ViewBag.CurrentBookmark,
        Categories = ViewBag.MyCategories
    };
    ViewData["Title"] = "home";
}

<style>
    .content {
        display: flex;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>


<div class="content">
    @if (User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("CreateBookmark", Model)
    }
    @foreach (Bookmark bookmark in ViewBag.Bookmarks)
    {
        @await Html.PartialAsync("ListBookmark", bookmark)
    }
    @await Html.PartialAsync("BookmarkModal", bookmarksAndCategories)
</div>

@* Afisarea paginata a articolelor *@

<nav aria-label="Page navigation example">
    <ul class="pagination" style="display: flex; justify-content: center">
        <li class="page-item">
            <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @for (int i = 1; i <= ViewBag.lastPage; i++)
        {
            <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
        }

        <li class="page-item">
            <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
